* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 320px;
  margin: 0px auto;
  font-family: "Playfair Display";
  color: #172432;
}

.hero {
  height: 1210px;
  padding: 0px 16px;
  background: top/cover no-repeat url(../img/background/hero_section_320px.png), rgba(0, 0, 0, 0.3);
}
.hero .hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  margin-bottom: 100px;
}
.hero .hero__header .hero__menu {
  background-color: transparent;
  height: 60px;
  width: 60px;
}
.hero .hero__title {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 100px;
}
.hero .hero__title h1 {
  font-size: 40px;
  line-height: 53px;
}
.hero .hero__title p {
  font-family: Rubik;
  font-size: 18px;
  line-height: 21px;
}
.hero .hero__content {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 16px;
  gap: 60px;
}
.hero .hero__content .hero__inputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  margin-bottom: 60px;
}
.hero .hero__content .hero__inputs .hero__input {
  border-bottom: 1px solid black;
  height: 58px;
  display: grid;
}
.hero .hero__content .hero__inputs .hero__input label {
  display: block;
  font-family: Rubik;
  font-size: 14px;
  color: #767E86;
  line-height: 17px;
  text-transform: uppercase;
}
.hero .hero__content .hero__inputs .hero__input input,
.hero .hero__content .hero__inputs .hero__input select,
.hero .hero__content .hero__inputs .hero__input option {
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
}
.hero .hero__submit {
  height: 128px;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #FF7757;
  font-size: 36px;
  color: white;
  padding: 40px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.hero .hero__submit::after {
  content: url("../img/icons/arrow_white.png");
  line-height: 36px;
}

.section {
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
}
.section .section__header {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.section .section__header .section__title {
  flex-grow: 0;
  align-self: flex-start;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  position: relative;
}
.section .section__header .section__title span {
  display: inline-block;
  position: relative;
}
.section .section__header .section__title span::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #FF7757;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.section .section__header .section__description {
  font-family: Rubik;
  font-size: 18px;
  color: #767E86;
}
.section .section__arrows {
  align-self: center;
  display: flex;
  gap: 40px;
}
.section .section__arrows .arrow {
  height: 60px;
  width: 66px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .section__arrows .section__left-arrow {
  background-color: #172432;
}
.section .section__arrows .section__right-arrow {
  background-color: #FF7757;
}
.section .section__stars {
  grid-area: stars;
  align-self: self-start;
  display: flex;
  justify-content: start;
  gap: 4px;
}
.section .section__stars img {
  margin: 2px;
}

.destinations {
  gap: 100px;
}
.destinations .destinations__content {
  align-self: center;
  background-image: url(../img/photo/berlin_mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 288px;
  height: 320px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 16px;
}
.destinations .destinations__content .destinations__showplace {
  font-size: 24px;
  font-weight: medium;
  color: #FFF;
  margin-bottom: 17px;
}
.destinations .destinations__content .destinations__location {
  font-family: Rubik;
  font-size: 18px;
  color: #FFF;
  display: flex;
  gap: 16px;
  align-items: end;
}
.destinations .destinations__content .destinations__location::before {
  content: url("../img/icons/location.png");
  width: 24px;
  height: 24px;
}

.offer {
  gap: 60px;
}
.offer .offer__content {
  background-color: #FFF8F1;
  border-radius: 26px;
}
.offer .offer__content .offer__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offer .offer__content .offer__info .offer__place {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offer .offer__content .offer__info .offer__place .offer__title {
  font-family: Mulish;
  font-size: 28px;
  line-height: 35px;
  color: #767E86;
}
.offer .offer__content .offer__info .offer__description {
  font-family: Rubik;
  font-size: 16px;
  line-height: 20px;
  color: #172432;
}
.offer .offer__content .offer__info .offer__order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offer .offer__content .offer__info .offer__order .offer__price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 21px;
  color: #767E86;
}
.offer .offer__content .offer__info .offer__order .offer__price span {
  font-size: 32px;
  line-height: 38px;
  color: #FF7757;
  word-spacing: 0px;
}
.offer .offer__content .offer__info .offer__order .offer__btn-details {
  font-family: Rubik;
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 24px;
  background-color: #FF7757;
  border-radius: 12px;
  width: 130px;
}

.blog {
  gap: 100px;
}
.blog .blog__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.blog .blog__content .blog__article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog .blog__content .blog__article .blog__title {
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.blog .blog__content .blog__article .blog__text {
  font-family: Rubik;
  font-size: 18px;
  line-height: 42px;
  color: #172432;
}
.blog .blog__content .blog__article .blog__link {
  color: #FF7757;
  font-family: Rubik;
  font-size: 24px;
  line-height: 52px;
  display: flex;
  gap: 20px;
}
.blog .blog__content .blog__article .blog__link::after {
  content: url(../img/icons/arrow_red.svg);
}

.planner {
  gap: 80px;
}
.planner .planner__all {
  font-family: Rubik;
  color: #FFF;
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  background-color: #FF7757;
  border-radius: 12px;
  width: 186px;
  position: relative;
  left: 14px;
}
.planner .planner__all::before, .planner .planner__all::after {
  content: "";
  display: block;
  height: 43px;
  width: 43px;
  position: absolute;
  z-index: -1;
}
.planner .planner__all::before {
  background-color: #172432;
  top: -14px;
  left: -14px;
}
.planner .planner__all::after {
  background-color: #767E86;
  bottom: -14px;
  right: -14px;
}
.planner .planner__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.planner .planner__content .planner__card {
  display: grid;
  max-width: 288px;
  grid-template-columns: 136px 1fr;
  grid-template-rows: 320px 41px 61px 44px;
  grid-template-areas: "image image" "tour price" "title title" "stars duration";
}
.planner .planner__content .planner__image {
  grid-area: image;
}
.planner .planner__content .planner__title {
  grid-area: title;
  font-size: 28px;
  line-height: 37px;
  font-weight: 600;
  align-self: center;
}
.planner .planner__content .planner__tour {
  grid-area: tour;
  font-family: Rubik;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  align-self: self-end;
}
.planner .planner__content .planner__price {
  grid-area: price;
  font-family: Rubik;
  font-size: 18px;
  line-height: 21px;
  align-self: self-end;
  justify-self: end;
}
.planner .planner__content .planner__duration {
  grid-area: duration;
  font-family: Rubik;
  font-size: 18px;
  line-height: 21px;
  justify-self: end;
}