@use "_default_style";

body {
    // max-width: 320px;
    margin: 0px auto;
    font-family: "Playfair Display";
}

.hero {
    height: 1210px;
    padding: 0px 16px;
    background:
        top / cover no-repeat url(../img/background/hero_section_320px.png),
        rgba(black, 0.3);

    .hero__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px;
        margin-bottom: 100px;
    }

    .hero__title {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 100px;

        h1 {
            font-size: 40px;
            line-height: 53px;
        }

        p {
            font-family: Rubik;
            font-size: 18px;
            line-height: 21px;
        }
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 16px;
        gap: 60px;

        .hero__form {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 40px;

            .form-container {
                border-bottom: 1px solid black;
                height: 58px;
                display: grid;

                label {
                    display: block;
                    font-family: Rubik;
                    font-size: 14px;
                    color: #767E86;
                    line-height: 17px;
                    text-transform: uppercase;
                }

                input,
                select,
                option {
                    font-size: 14px;
                    line-height: 19px;
                    background-color: transparent;
                }
            }
        }
    }

    button {
        height: 128px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #FF7757;
        font-size: 36px;
        color: white;
        padding: 40px 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;

        &::after {
            content: url("../img/icons/arrow_white.png");
            line-height: 36px;
        }
    }
}

.section {
    padding: 80px 16px;
    display: flex;
    flex-direction: column;

    .section__header {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section__title {
            font-size: 40px;
            line-height: 53px;
            color: #172432;
            position: relative;
            padding-bottom: 20px;

            &::after {
                content: "";
                height: 2px;
                width: 227px;
                background-color: #FF7757;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .section__description {
            font-family: Rubik;
            font-size: 18px;
            color: #767E86;
        }
    }

    .section__arrows {
        align-self: center;
        display: flex;
        gap: 40px;

        .arrow {
            height: 60px;
            width: 66px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section__left-arrow {
            background-color: #172432;
        }

        .section__right-arrow {
            background-color: #FF7757;
        }
    }
}

.destinations {
    gap: 100px;

    .destinations__content {
        align-items: center;
        background-image: url(../img/photo/berlin_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .destinations__showplace {
            font-size: 24px;
            font-weight: medium;
            color: #fff;
            margin-bottom: 17px;
        }

        .destinations__location {
            font-family: Rubik;
            font-size: 18px;
            color: #fff;
            display: flex;
            gap: 16px;
            align-items: end;

            &::before {
                content: url("../img/icons/location.png");
                width: 24px;
                height: 24px;
            }
        }
    }
}

.offer {
    gap: 60px;
    
    .offer__content {
        background-color: #FFF8F1;
        border-radius: 26px;

        .offer__info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .offer__place {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .offer__title {
                    font-family: Mulish;
                    font-size: 28px;
                    line-height: 35px;
                    color: #767E86;
                }

                .offer__stars {
                    display: flex;
                    justify-content: start;
                    gap: 4px;
                }
            }

            .offer__description {
                font-family: Rubik;
                font-size: 16px;
                line-height: 20px;
                color: #172432;
            }

            .offer__order {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .offer__price {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 21px;
                    color: #767E86;

                    span {
                        font-size: 32px;
                        line-height: 38px;
                        color: #FF7757;
                        word-spacing: 0px;
                    }
                }

                .offer__btn-details {
                    font-family: Rubik;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 16px 24px;
                    background-color: #FF7654;
                    border-radius: 12px;
                    width: 130px;
                }
            }
        }
    }
    
}