@use "_default_style";

$white_color: #FFF;
$black_color: #172432;
$red_color: #FF7757;
$grey_color: #767E86;
$white_smoke_color: #F5F6F7;
$warm_color: #FF7757;
$light_orange_color: #FFE8D4;
$all_planner_btn_offset: 14px;

body {
    width: 320px;
    margin: 0px auto;
    font-family: "Playfair Display";
    color: $black_color;
}

.hero {
    height: 1210px;
    padding: 0px 16px;
    background:
        top / cover no-repeat url(../img/background/hero_section_320px.png),
        rgba(black, 0.3);

    .hero__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px;
        margin-bottom: 100px;

        .hero__menu {
            background-color: transparent;
            height: 60px;
            width: 60px;
        }
    }

    .hero__title {
        color: $white_color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 100px;

        h1 {
            font-size: 40px;
            line-height: 53px;
        }

        p {
            font-family: Rubik;
            font-size: 18px;
            line-height: 21px;
        }
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        background-color: $white_color;
        border-radius: 16px;
        gap: 60px;

        .hero__inputs {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 40px;
            margin-bottom: 60px;

            .hero__input {
                border-bottom: 1px solid black;
                height: 58px;
                display: grid;

                label {
                    display: block;
                    font-family: Rubik;
                    font-size: 14px;
                    color: $grey_color;
                    line-height: 17px;
                    text-transform: uppercase;
                }

                input,
                select,
                option {
                    font-size: 14px;
                    line-height: 19px;
                    background-color: transparent;
                }
            }
        }
    }

    .hero__submit {
        height: 128px;
        width: 100%;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: $red_color;
        font-size: 36px;
        color: white;
        padding: 40px 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;

        &::after {
            content: url("../img/icons/arrow_white.png");
            line-height: 36px;
        }
    }
}

.section {
    padding: 80px 16px;
    display: flex;
    flex-direction: column;

    .section__header {
        display: flex;
        flex-direction: column;
        gap: 52px;

        .section__title {
            flex-grow: 0;
            align-self: flex-start;
            font-size: 40px;
            line-height: 53px;
            color: $black_color;
            position: relative;

            span {
                display: inline-block;
                position: relative;

                &::after {
                    content: "";
                    height: 3px;
                    width: 100%;
                    background-color: $red_color;
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }
            }
        }

        .section__description {
            font-family: Rubik;
            font-size: 18px;
            color: $grey_color;
        }
    }

    .section__arrows {
        align-self: center;
        display: flex;
        gap: 40px;

        .arrow {
            height: 60px;
            width: 66px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section__left-arrow {
            background-color: $black_color;
        }

        .section__right-arrow {
            background-color: $red_color;
        }
    }

    .section__stars {
        grid-area: stars;
        align-self: self-start;
        display: flex;
        justify-content: start;
        gap: 4px;

        img {
            margin: 2px;
        }
    }
}

.destinations {
    gap: 100px;

    .destinations__content {
        align-self: center;
        background-image: url(../img/photo/berlin_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 288px;
        height: 320px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 16px;

        .destinations__showplace {
            font-size: 24px;
            font-weight: medium;
            color: $white_color;
            margin-bottom: 17px;
        }

        .destinations__location {
            font-family: Rubik;
            font-size: 18px;
            color: $white_color;
            display: flex;
            gap: 16px;
            align-items: end;

            &::before {
                content: url("../img/icons/location.png");
                width: 24px;
                height: 24px;
            }
        }
    }
}

.offer {
    gap: 60px;

    .offer__content {
        background-color: #FFF8F1;
        border-radius: 26px;

        .offer__info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .offer__place {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .offer__title {
                    font-family: Mulish;
                    font-size: 28px;
                    line-height: 35px;
                    color: $grey_color;
                }
            }

            .offer__description {
                font-family: Rubik;
                font-size: 16px;
                line-height: 20px;
                color: $black_color;
            }

            .offer__order {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .offer__price {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 21px;
                    color: $grey_color;

                    span {
                        font-size: 32px;
                        line-height: 38px;
                        color: $red_color;
                        word-spacing: 0px;
                    }
                }

                .offer__btn-details {
                    font-family: Rubik;
                    color: $white_color;
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 16px 24px;
                    background-color: $red_color;
                    border-radius: 12px;
                    width: 130px;
                }
            }
        }
    }
}

.blog {
    gap: 100px;

    .blog__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .blog__article {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .blog__title {
                font-size: 40px;
                line-height: 53px;
                color: $black_color;
            }

            .blog__text {
                font-family: Rubik;
                font-size: 18px;
                line-height: 42px;
                color: $black_color;
            }

            .blog__link {
                color: $red_color;
                font-family: Rubik;
                font-size: 24px;
                line-height: 52px;
                display: flex;
                gap: 20px;

                &::after {
                    content: url(../img/icons/arrow_red.svg);
                }
            }
        }
    }
}

.planner {
    gap: 80px;

    .planner__all {
        font-family: Rubik;
        color: $white_color;
        font-size: 18px;
        line-height: 21px;
        padding: 20px;
        background-color: $red_color;
        border-radius: 12px;
        width: 186px;
        position: relative;
        left: $all_planner_btn_offset;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 43px;
            width: 43px;
            position: absolute;
            z-index: -1;
        }

        &::before {
            background-color: $black_color;
            top: $all_planner_btn_offset * -1;
            left: $all_planner_btn_offset * -1;
        }

        &::after {
            background-color: $grey_color;
            bottom: $all_planner_btn_offset * -1;
            right: $all_planner_btn_offset * -1;
        }
    }

    .planner__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .planner__card {
            display: grid;
            max-width: 288px;
            grid-template-columns: 136px 1fr;
            grid-template-rows: 320px 41px 61px 44px;
            grid-template-areas:
                "image image"
                "tour price"
                "title title"
                "stars duration";
        }

        .planner__image {
            grid-area: image;
        }

        .planner__title {
            grid-area: title;
            font-size: 28px;
            line-height: 37px;
            font-weight: 600;
            align-self: center;
        }

        .planner__tour {
            grid-area: tour;
            font-family: Rubik;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 21px;
            align-self: self-end;
        }

        .planner__price {
            grid-area: price;
            font-family: Rubik;
            font-size: 18px;
            line-height: 21px;
            align-self: self-end;
            justify-self: end;
        }

        .planner__duration {
            grid-area: duration;
            font-family: Rubik;
            font-size: 18px;
            line-height: 21px;
            justify-self: end;
        }
    }
}

.gallery {
    gap: 100px;

    .gallery__content {
        display: grid;
        gap: 32px;
    }
}

.experience {
    gap: 100px;

    .experience__content {
        background-color: $white_smoke_color;
        padding: 60px 20px 32px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        .experience__text {
            font-family: Rubik;
            font-size: 18px;
            line-height: 23px;
            color: $grey_color;
        }

        .experience__author {
            display: flex;
            flex-direction: column;
            gap: 4px;
            color: $grey_color;

            .experience__author-name {
                font-size: 24px;
                line-height: 32px;
            }

            .experience__author-role {
                font-family: Rubik;
                font-size: 18px;
                line-height: 21px;
            }
        }

        &::before {
            content: url(../img/photo/avatar_1_mobile.png);
            border-radius: 50%;
            height: 100px;
            width: 100px;
            position: absolute;
            top: -65px;
            left: 20px;
        }
    }
}

.subscription {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.2);

    .subscription__title {
        font-size: 40px;
        line-height: 53px;
        color: $grey_color;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            font-family: Rubik;
            color: $grey_color;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 16px;
            
        }

        #email {
            color: $warm_color;
            background-color: $light_orange_color;
            opacity: 0.8;
            padding: 24px auto;
            border-radius: 12px;
            height: 72px;
            text-align: center;
            font-family: Rubik;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 32px;
        }

        .subscription__button {
            background-color: $red_color;
            color: #FFF;
            font-family: Rubik;
            font-size: 20px;
            line-height: 24px;
            border-radius: 12px;
            padding: 16px 40px;
            height: 73px;
        }
    }
}

.footer {
    padding: 80px 16px;
    background-color: $black_color;
    color: #fff;
}