@use "_default_style";

body {
    max-width: 320px;
    margin: 0px auto;
    font-family: "Playfair Display";
}

.hero {
    height: 1210px;
    padding: 0px 16px;
    background:
        top / cover no-repeat url(../img/background/hero_section_320px.png),
        rgba(black, 0.3);

    .hero_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px;
        margin-bottom: 100px;
    }

    .hero_title {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 100px;

        h1 {
            font-size: 40px;
            line-height: 53px;
        }

        p {
            font-family: Rubik;
            font-size: 18px;
            line-height: 21px;
        }
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 16px;
        gap: 60px;

        .hero_content_form {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 40px;

            .hero_content_form_container {
                border-bottom: 1px solid black;
                height: 58px;
                display: grid;

                label {
                    display: block;
                    font-family: Rubik;
                    font-size: 14px;
                    color: #767E86;
                    line-height: 17px;
                    text-transform: uppercase;
                }

                input,
                select,
                option {
                    font-size: 14px;
                    line-height: 19px;
                    background-color: transparent;
                }
            }
        }
    }

    button {
        height: 128px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #FF7757;
        font-size: 36px;
        color: white;
        padding: 40px 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;

        &::after {
            content: url("../img/icons/arrow_white.png");
            line-height: 36px;
        }
    }
}

.destinations {
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .destinations_header {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .destinations_header__title {
            font-size: 40px;
            line-height: 53px;
            color: #172432;
            position: relative;
            padding-bottom: 20px;

            &::after {
                content: "";
                height: 2px;
                width: 227px;
                background-color: #FF7757;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .destinations_header__text {
            font-family: Rubik;
            font-size: 18px;
            color: #767E86;
        }
    }

    .destinations_content {
        background-image: url(../img/photo/berlin_mobile.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 320px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .destinations_content__title {
            font-size: 24px;
            font-weight: medium;
            color: #fff;
            margin-bottom: 17px;
        }

        .destinations_content__location {
            font-family: Rubik;
            font-size: 18px;
            color: #fff;
            display: flex;
            gap: 16px;
            align-items: end;

            &::before {
                content: url("../img/icons/location.png");
                width: 24px;
                height: 24px;
            }
        }
    }

    .destination_arrows {
        align-self: center;
        display: flex;
        gap: 40px;

        .arrow {
            height: 60px;
            width: 66px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .destination_arrows__left {
            background-color: #172432;
        }

        .destination_arrows__right {
            background-color: #FF7757;
        }
    }
}